
.checkboxBlock {
    display: flex;
    justify-content: center;
}

.checkboxBlock input {
    display: none;
}

.checkboxBlock label {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
}

.checkboxBlock input:checked + label {
    background-color: red;
}