* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainBlock {
    margin-top: 20px;
}

.wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

