.App {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    min-height: 100vh;

}

.navBar {
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
    /*align-items: flex-start;*/
    /*margin-bottom: 20px;*/
}
.navBlock {
    display: flex;

}

.navBar a {
    margin-top: 5px;
    text-decoration: none;
}

.main {
    display: flex;
    flex-direction: column;
}

